@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A2E;
}

@theme {
  --color-primary: #1A1A2E;
  --color-secondary: #1E90FF;
  --color-secondary-light: #98CCFF;
  --color-white: #FFFFFF;
  --color-gray: #8C93A1;
}

/* global.css */
.scroll-x-thin {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.scroll-x-thin::-webkit-scrollbar {
  height: 6px;
}

.scroll-x-thin::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

.scroll-x-thin::-webkit-scrollbar-track {
  background: transparent;
}